{:deps
 {logseq/bb-tasks
  #_{:local/root "../bb-tasks"}
  {:git/url "https://github.com/logseq/bb-tasks"
   :git/sha "4295d5df0458cc06a09c5d506510ee49b785407d"}}

 :tasks
 {nbb
  {:doc "Run any nbb-logseq command"
   :task (apply shell {:dir "script"} "yarn -s nbb-logseq" *command-line-args*)}

  query
  {:doc "Run a pre-defined query"
   :depends [-ensure-latest-cached-db]
   :task (apply shell {:dir "script"} "yarn -s nbb-logseq query.cljs" *command-line-args*)}

  write-rdf
  {:doc "Run a pre-defined query"
   :depends [-ensure-latest-cached-db]
   :task (shell {:dir "script"} "yarn -s nbb-logseq -e"
                (str
                 "(require '[logseq.rdf-export :as rdf-export]) (apply rdf-export/write-rdf-file "
                 (pr-str (into [".."] *command-line-args*))
                 ")"))}

  write-class-hierarchy
  {:doc "Run logseq-class-hierarchy as a lib"
   :depends [-ensure-latest-cached-db]
   :task (shell {:dir "script"} "yarn -s nbb-logseq -e"
                (str
                 "(require '[cldwalker.logseq-clis.cli.logseq-class-hierarchy :as lch])"
                 "(apply lch/-main "
                 (pr-str ["../pages/Class Hierarchy.md" "-d" ".."])
                 ")"))}

  -ensure-latest-cached-db
  logseq.bb-tasks.nbb.cached-db/ensure-latest-cached-db}}
