{:deps
 {logseq/bb-tasks
  #_{:local/root "../bb-tasks"}
  {:git/url "https://github.com/logseq/bb-tasks"
   :git/sha "349f1939bcb2205ce01fa5e5b33055d568000c79"}}

 :tasks
 {nbb
  {:doc "Run any nbb-logseq command"
   :task (apply shell {:dir "script"} "yarn -s nbb-logseq" *command-line-args*)}

  query
  {:doc "Run a pre-defined query"
   :depends [-ensure-latest-cached-db]
   :task (apply shell {:dir "script"} "yarn -s nbb-logseq query.cljs" *command-line-args*)}

  -ensure-latest-cached-db
  logseq.bb-tasks.nbb.cached-db/ensure-latest-cached-db}}
