{:project {:name "blog"
           :alias "Logseq Blog"}
 :shortcuts {:editor/new-heading "alt+enter"},
 :text-formats [],
 :git-pull-secs 60,
 :git-push-secs 10,
 :git-auto-push false,
 :default-queries
 {:journals
  [{:title "🔨 NOW"
    :query [:find (pull ?h [*])
            :in $ ?start ?today
            :where
            [?h :heading/marker ?marker]
            [?h :heading/page ?p]
            [?p :page/journal? true]
            [?p :page/journal-day ?d]
            [(>= ?d ?start)]
            [(<= ?d ?today)]
            [(= ?marker "NOW")]]
    :inputs [:14d :today]
    :result-transform (fn [result]
                        (sort-by (fn [h]
                                   (get h :heading/priority "Z")) result))
    :collapsed? true}
   {:title "📅 NEXT"
    :query [:find (pull ?h [*])
            :in $ ?start ?next
            :where
            [?h :heading/marker ?marker]
            [?h :heading/ref-pages ?p]
            [?p :page/journal? true]
            [?p :page/journal-day ?d]
            [(> ?d ?start)]
            [(< ?d ?next)]
            [(contains? #{"NOW" "LATER"} ?marker)]]
    :inputs [:today :7d-after]
    :collapsed? true}]}}
