{:deps
 {logseq/graph-parser
  {:git/url "https://github.com/logseq/logseq"
   :git/sha "ea9cdf7fe28da99020db4283f8dc69336197913f"
   :deps/root "deps/graph-parser"}
  #_{:local/root "../../logseq/deps/graph-parser"}

  logseq/bb-tasks
  #_{:local/root "../../bb-tasks"}
  {:git/url "https://github.com/logseq/bb-tasks"
   :git/sha "1d064cac01b26ae38c98ca140dcb257596d1e290"}
  
  org.babashka/cli {:mvn/version "0.5.40"}}}
